body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
    color: white;
}

body, html {
    height: 100%;
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.dropdown-toggle::after,
.play-music-btn::after,
.hide-ui-btn::after {
    content: '▼';
    font-size: 12px;
    margin-left: 5px;
    transform: rotate(180deg);
    display: block;
}

.dropdown-toggle,
.play-music-btn,
.hide-ui-btn {
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    background: none;
    color: #fff;
    padding: 5px 10px; 
    margin: 10px 0; 
    line-height: 1;
    outline: none; 
}

.dropdown-toggle:focus,
.play-music-btn:focus,
.hide-ui-btn:focus {
    outline: none;
}

.dropdown-menu {
    background-color: transparent;
    border: none;
}

.dropdown-item,
.play-music-btn,
.hide-ui-btn {
    font-size: 14px;
    color: #fff; 
}

.dropdown-item:focus,
.play-music-btn:focus,
.hide-ui-btn:focus {
    background-color: transparent;
}

.hide-ui-btn {
    opacity: 1;
}

.ui-hidden .btn:not(.hide-ui-btn) {
    display: none;
}

.ui-hidden .hide-ui-btn {
    opacity: 0.33;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}
